<html>
<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.bundle.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script>
        var socket = io();
        var draws = [];
        var mults = [];
        var max = 100;

        socket.on("totalDraws", function (total) {
            max = total;
        })

        socket.on("addItem", function (data) {
            data.data.forEach(function (draw) {
                draws.unshift(draw);
                mults.push(draw.answer);
                $("[name=table]").prepend("<tr><td>"+draw.answer+"</td><td>"+draw.hash+"</td><td>"+draw.secret+"</td><td>"+draw.time+"</td></tr>")
            })
            var trace = {
                x: mults,
                type: 'histogram',
                xbins:{
                    end:20,
                    size:0.5,
                    start:1
                }
            };

            var data = [trace];
            Plotly.newPlot('tester', data);
        })
        socket.on("addOneItem", function (obj) {
            var draw = obj.data;
            console.log(draw);
            draws.unshift(draw);
            var hex = draw.secret.toString(16);
            mults.push({x:draw.answer, y:hex});
            $("[name=table]").prepend("<tr><td>"+draw.answer+"</td><td>"+draw.hash+"</td><td>"+draw.secret+"</td><td>"+draw.time+"</td></tr>")
            var percent = ((((max - draws.length)/max))*100).toFixed(2);

            $(".html").css("width", percent+"%");
            $(".html").html(percent+"%")

            var trace = {
                x: mults.x,
                y: mults.y,
                mode: 'lines+markers',
                type: 'scatter'
            };

            var data = [trace];
            Plotly.newPlot('tester', data);
        })


    </script>
    <script>
        $(function () {
            var ctx = $("#myChart");

            var trace = {
                x: mults,
                type: 'histogram'
            };

            var data = [trace];
            Plotly.newPlot('tester', data);
        })
        var ctx;


    </script>
</head>
<body>
<h2></h2>
<div id="tester" style="width:600px;height:250px;"></div>

</br>
<style>
    * {box-sizing:border-box}

    /* Container for skill bars */
    .container {
        width: 100%; /* Full width */
        background-color: #ddd; /* Grey background */
    }

    .skills {
        text-align: right; /* Right-align text */
        padding-right: 20px; /* Add some right padding */
        line-height: 40px; /* Set the line-height to center the text inside the skill bar, and to expand the height of the container */
        color: white; /* White text color */
    }

    .html {width: 90%; background-color: #4CAF50;} /* Green */
</style>
Loading!
<div class="container">
    <div class="skills html">0%</div>
</div>

<table>
    <thead>
        <th>Multiplier</th>
        <th>Hash</th>
        <th>Secret</th>
        <th>Time</th>
    </thead>
    <tbody name="table">

    </tbody>
</table>



</body>
</html>